/*NAVBAR*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;900&display=swap);
nav {
  background: #9FE6E8;
  height: 80px;
  width: 100%;
}
nav .enlace {
  position: absolute;
  padding: 15px 50px;
}
nav .enlace .logo {
  height: 50px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav li a {
  color: #0e0e0e;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  padding: 7px 13px;
  border-radius: 15px;
  text-transform: uppercase;
}
nav li a.active, nav li a:hover {
  background: #055ec4;
  transition: 0.5s;
  color: #fef972;
}
nav i .active, nav i:hover {
  transition: 0.5s;
  color: #fef972;
}
nav .checkbtn {
  font-size: 30px;
  color: #0e0e0e;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav #check {
  display: none;
}

/*variables*/
/*GENERALES*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-width: 250px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-width: 250px;
  background-image: linear-gradient(360deg, #0e0e0e 0%, #10a7c9);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.8rem;
  color: #9FE6E8;
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
  color: #fef972;
}

h2 {
  font-size: 2.4rem;
  font-family: "Outfit", sans-serif;
  color: #fef972;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Outfit", sans-serif;
  color: #fef972;
}

/*botones*/
.botonbase, .galeria button, .btnjerry, .btn {
  font-family: "Outfit", sans-serif;
  font-size: 2.4rem;
  border-color: #0e0e0e;
  padding: 10px;
  border-radius: 25px;
  border: 2px;
  border-style: solid;
  min-width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.btn {
  background-color: #fef972;
}

.btnjerry {
  background-color: #055ec4;
}

/*vars*/
.centrarbarra {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  justify-content: space-between;
  align-content: center;
}
.centrarbarra h1 {
  margin-top: 12px;
}
.centrarbarra .barra_busqueda {
  width: 90%;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 15px 5px 10px;
  align-items: center;
  align-content: center;
  display: flex;
  border-radius: 25px;
  border-color: lightslategray;
  border: 2px;
  border-style: solid;
  min-width: 100px;
  background-color: #FEF972;
}
.centrarbarra .barra_busqueda input {
  width: 100%;
  height: 30px;
  margin: 0 5px;
  border: none;
}
.centrarbarra .barra_busqueda input:focus {
  outline: none;
}
.centrarbarra .barra_busqueda .input {
  background-color: #fef972;
}
.centrarbarra .barra_busqueda .icon {
  display: grid;
  align-content: center;
  color: lightslategray;
}
.centrarbarra .iconoCarrito {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 5px 5px 5px 5px;
  background-color: #fef972;
  display: flex;
  border-radius: 15px;
  border-color: lightslategray;
  border: 2px;
  border-style: solid;
}
.centrarbarra .iconoCarrito .fotocarrito {
  height: 35px;
}

footer {
  display: inline;
  left: 0px;
  background-color: #9FE6E8;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
}
footer p {
  margin-bottom: 20px;
  color: #0e0e0e;
  text-align: right;
  font-size: large;
  font-family: "Outfit", sans-serif;
}
footer img {
  height: 40px;
  align-content: space-between;
  margin: 5px;
  margin-right: 10px;
  margin-bottom: 25px;
}
footer .pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
footer .pie .redes {
  justify-content: left;
  min-width: 200px;
}
footer .pie .info {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
}
footer #jerry {
  border-radius: 20px;
}

@media (max-width: 952px) {
  nav .enlace {
    padding-left: 20px;
  }
  nav li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  nav .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a .active, nav ul li a:hover {
    background: none;
    color: #fef972;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
    height: 200px;
    margin-bottom: 0;
    min-width: 250px;
    display: flex;
    flex-direction: column;
  }
  footer p {
    text-align: center;
  }
  footer img {
    margin-bottom: 10px;
    align-content: center;
  }
  footer .pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .pie .redes {
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 0;
  }
  footer .pie .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ContenidoPagecart, .ContenidoPage, .titulos, .filtros, .ContenidoCatalogo {
  padding-bottom: 5%;
}

.ContenidoPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.texto_index {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  height: 60%;
  width: 60%;
  margin-left: 40%;
  margin-bottom: 20%;
}

.rymimg {
  height: auto;
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  margin-bottom: 15%;
}

.jerryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 400px;
  text-align: center;
  margin-left: 5%;
  margin-left: 30%;
  margin-bottom: 20%;
}
.jerryCard .jerrymamadoimg {
  border: solid 4px #FEF972;
  border-radius: 10%;
  height: auto;
  width: 100%;
  max-width: 300px;
  margin-top: 15%;
}

.nosotrosTexto {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  margin-top: 0%;
  margin-bottom: 10%;
  text-align: right;
  padding: 20px;
}

#CatalogoD {
  display: grid;
  gap: 10px;
  align-items: flex-start;
  align-content: space-between;
  grid-template-areas: "filtro galeria galeria galeria galeria" "filtro galeria galeria galeria galeria";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.ContenidoCatalogo {
  grid-area: galeria;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  margin-right: auto;
  margin-bottom: 10%;
}

.filtros {
  grid-area: filtro;
  display: block;
  background-color: #fef972;
  padding: 20px;
  border-radius: 20px;
  margin-left: auto;
}
.filtros p {
  color: #0e0e0e;
}

.galeria {
  height: auto;
  width: auto;
  background-color: #fef972;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border-radius: 15px;
  padding: 5px;
}
.galeria p {
  color: #0e0e0e;
}
.galeria img {
  height: 150px;
  border-radius: 15px;
}
.galeria button {
  font-size: 1.8rem;
  color: #fef972;
  border-color: #0e0e0e;
  background-color: #055ec4;
}

.titulocart {
  margin-left: 10%;
}

.ContenidoPagecart {
  align-content: center;
  padding: auto;
  margin: auto;
  margin-left: 10%;
}

.contenedorcarro {
  display: flex;
  width: 90%;
  height: auto;
  background-color: #2c3e50;
  border-radius: 20px;
  border: 2px;
  border-color: #0e0e0e;
  justify-content: space-between;
}

.carrogrande {
  height: 250px;
}

.botonescart {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 90%;
  height: auto;
  margin-bottom: 5%;
}

/*# sourceMappingURL=estilos.css.map */
