/*IMPORTS DE PARCIALES*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import "navbar" ;
@import "variables" ;
@import "barraycarrito" ;
@import "footer" ;
@import "responsive" ;
@import "animaciones";

/*TODAS*/
.ContenidoPagecart, .ContenidoPage, .titulos, .filtros, .ContenidoCatalogo{
    padding-bottom: 5%;
}

.ContenidoPage{
    width: 100%;
    display: grid;
    grid-template-areas:
    "centrarbarra centrarbarra"
    "texto_index imagen_index";
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-content: center;
    
}
/*PAGINA INDEX*/
.texto_index{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    grid-area: texto_index;
    height: 60%;
    width: 60%;
    margin-left: 40%;
}
.imagen_index{
    grid-area: imagen_index; 
}
.rymimg{
    height: auto;
    width: 100%;
    max-width: 300px;
    min-width: 150px;
}

/*PAGINA NOSOTROS*/
.jerryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 200px;
    height: 400px;
    grid-area: imagen_index;
    margin-bottom: 20px;

    .jerrymamadoimg{
        border: solid 4px #FEF972;
        border-radius: 10%;
        height: auto;
        max-width: 300px;
    }
}
.nosotrosTexto{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    margin-top: 0%;
    margin-bottom: 10%;
    text-align: right;
    margin-left: 20%;
    padding: 20px;
    grid-area: texto_index;
}
 /* PAGINA CATALOGO*/
#CatalogoD{
    display: grid;
    gap: 10px;
    align-items: flex-start;
    align-content: space-between;


    grid-template-areas: 
        "filtro galeria galeria galeria galeria"
        "filtro galeria galeria galeria galeria"; 
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
}
.ContenidoCatalogo{
    grid-area: galeria;

    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 20px;
    margin-right: auto;
    margin-bottom: 10%;
    
    
}
.filtros{
    grid-area: filtro;

    display: block;
    background-color: $colormorty;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    p{
        color: $colornegro;
    }
}

.galeria{
    @include cards(auto,auto);
    background-color: $colormorty;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 15px;
    border-radius: 15px;
    padding: 5px;

    p{
        color: $colornegro;
    }
    img{
        height: 150px;
        border-radius: 15px;
    }
    button{
        @extend .botonbase;
        font-size: $font-p;
        color: $colormorty;
        border-color: $colornegro;
        background-color: $sombraazul;
    }
}

/*PAGINA MI CARRITO*/
.titulocart{
    margin-left: 10%;
}
.ContenidoPagecart{
    
    align-content: center;
    padding: auto;
    margin: auto;
    margin-left: 10%;

    
}
.contenedorcarro{
    display: flex;
    flex-wrap: wrap;

    width: 90%;
    height: auto;
    background-color: $colornavresponsive;
    border-radius: 20px;
    border: 2px;
    border-color: $colornegro;
    justify-content: space-between;
    
}

.carrogrande{
    height: 250px;
}
.botonescart{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 90%;
    height: auto;
    margin-bottom: 5%;
}

/*PAGINA RESGISTRARSE*/
.registertitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    h1{
        margin-bottom: 7px;
    }
}
.ContenidoPageR{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.formulario-de-registro{
    
    background-color: $colorrick;
    padding: 20px;
    border-radius: 20px;
   
    margin-bottom: 10%;
}
fieldset{
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    font-size: $font-p;
    padding: 10px;
    border-radius: 20px;
    gap: 5px;
    legend{
        margin-left: 10px;
    }
    p{
        color: $colornegro;
    }
    input{
        border-radius: 10px;
    }
    select{
        border-radius: 10px;
    }

}
.genero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.registerCont{
    margin-left: 15px;
}

.registerCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;
    background-color: $colorrick;
    height: auto;
    border-radius: 20px;
    margin-bottom: auto;
}

/*standarts*/
@media (max-width: $tablet-width){
    .ContenidoPage{
        display: grid;
        grid-template-areas:
        "centrarbarra"
        "texto_index"
        "imagen_index";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;   
    }
    .texto_index{
        align-items: center;
        height: auto;
        width: 90%;
        margin-left: 0%;
        margin-bottom: 0%;
        text-align: center;
        h1{
            align-items: center;
        }
    }
    .imagen_index{
        justify-content: center;
        margin-bottom: auto;
        margin-left: 15%;
    }
    .jerryCard{
        margin-left: auto;
        margin-right: auto;
    }
    .nosotrosTexto{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 5%;
    }

    #CatalogoD{
        grid-template-areas: 
            "filtro"
            "galeria"; 
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto;
    }
    .filtros{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 10px;
    }
    .ContenidoCatalogo{
        justify-content: center;
    }
    .contenedorcarro{
        .galeria{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .botonescart{
        justify-content: center;
    }
    footer{
        position: relative;
        height: 200px;
        margin-bottom: 0;
        min-width: 250px;

        display: flex;
        flex-direction: column;

        p{
            text-align: center;
        }
        img{
            margin-bottom: 10px;
            align-content: center;
            }

        .pie{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .redes{
                justify-content: center;
                align-content: center;
                align-items: center;
                min-width: 0;
            }
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}