/*NAVBAR*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;900&display=swap);
@import "navbar" ;
@import "variables" ;
@import "barraycarrito" ;
@import "footer" ;
@import "responsive" ;

/*variables*/
$colorrick: #9FE6E8 ;
$colormorty: #fef972;
$colornegro: #0e0e0e;
$sombraazul: #055ec4;
$colornavresponsive: #2c3e50;
/*GENERALES*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    min-width: 250px;
    background-image: linear-gradient( 360deg, #0e0e0e 0%, #10a7c9 );
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}